<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tarefa Contas - Code</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .centralizado {
            margin: 0 auto;
            float: none;
        }
    </style>
</head>
<body id="app" >
<div  class="container centralizado">

<h1>{{ title }}</h1>
<h3>{{status }}</h3>
<nav>
    <ul>
        <li v-for="o in menus"><a href="#" @click.prevent="showView($event,o.id)">{{ o.name }}</a></li>
    </ul>
</nav>
<div v-if="activedView == 0" class="col-xs-12 col-md-8">
    <table class="table">
        <thead>
        <tr>
            <td>#</td>
            <td>Vencimento</td>
            <td>Nome</td>
            <td>Valor</td>
            <td>Paga?</td>
            <td>Ações</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(index, o) in bills">
            <td>{{ index +1 }}</td>
            <td>{{ o.date_due }}</td>
            <td>{{ o.name }}</td>
            <td>{{ o.value | currency 'R$ '}}</td>
            <td>{{ o.done | doneLabel }}</td>
            <td><span style="margin: 5px;" @click.prevent="editaConta(o)" title="Editar" aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
                <span @click.prevent="excluiConta(index);" title="Exluir" aria-hidden="true" class="glyphicon glyphicon-remove"></span>
             </td>
        </tr>
        </tbody>
    </table>

</div>
<div v-if="activedView == 1" class="col-xs-12 col-md-8">
    <form name="form-control" @submit.prevent="submit">
        <div class="form-group">
            <label for="vencimento">Vencimento</label>
            <input type="text" style="width: 200px;" class="form-control" v-model="bill.date_due" id="vencimento" placeholder="00/00/0000">
        </div>
        <div class="form-group ">
            <label for="nome">Nome</label>
            <select v-model="bill.name" style="width: 200px;" id="nome" placeholder="Nome" class="form-control">
                <option v-for="o in names" value="{{ o }}">{{o}}</option>
            </select>
        </div>

        <div class="form-group ">
            <label for="valor">Valor</label>
            <input type="text" style="width: 200px;" class="form-control"v-model="bill.value" id="valor" placeholder="Valor">
        </div>
        <input type="submit" value="Enviar">
    </form>
</div>
</div>
<script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>